<% title = 'OpenHIE ID - '+user[conf.user.displayname] %>
<% name = 'root' %>
<% headline = 'Welcome to the Dashboard, '+user.displayName+'.' %>
<% if (user.groups.indexOf('dashboard-administrators') > -1) { sidebar = ['./../views/sidebar/crowd'] } %>

<p><h2>New to the OpenHIE Community?</h2>
Welcome, we're glad you joined us! 
</p>

<p class="clear"><h2>Services</h2>
With your OpenHIE ID, you can log in to use the services below. We will have more services coming soon:</p>
<div class="box no-ext-icon">
	<div class="logo"><img src="/resource/images/service_logos/confluence.png" alt="OpenHIE Wiki"></div>
	<h2><a href="https://wiki.ohie.org">OpenHIE Wiki</a></h2>
	<a class="sub" href="https://wiki.ohie.org/users/viewmyprofile.action">View Profile</a>
</div>

<div class="box-container col-lg-6">
<figure class="box">
	<div class="logo"><img src="/resource/images/service_logos/bamboo.png" alt="Continuous Integration"></div>
	<h2><a href="#">Continuous Integration (Coming Soon)</a></h2>
	<a class="sub" href="#">View Profile</a>
</div>

<div class="box-container col-lg-6">
<figure class="box">
	<div class="logo"><img src="/resource/images/service_logos/other.png" alt="Other Services"></div>
	<h2>Other…</h2>
	<a class="sub" href="http://ohie.org">OHIE</a>
</div>

<!--<p>Don't regard the ID Dashboard as passé just yet! As the OpenHIE Community moves forward, you'll be able to control more and more of your Community Profile from here. Until then, why not <a href="#" class="highlight-banners">head over to another Community Application?</a></p>-->
