<h2>Need help?</h2>
<p>If you're having problems accessing or using the OpenHIE Community, please email us at <a href="mailto:support@ohie.org">support@ohie.org</a>. <strong>Make sure to include your contact info</strong> so that we can respond to your request.</p>
