{{#extend "title"}}OpenMRS ID - Your Password{{/extend}}
{{#extend "headline"}}Change {{user.displayName}}'s Password{{/extend}}

<form action="/password" method="post">
	<div class="field {{check "class" fail.currentpassword}}">
		<label>Current Password</label>
		<input type="password" name="currentpassword" placeholder="Current Password">
		<span class="description">
			{{#explanation fail.currentpassword}}
				This is not your current password.
			{{/explanation}}
			Enter your OpenMRS ID password for verification.
		</span>
	</div>
	
	<div class="field {{check "class" fail.newpassword}}">
		<label>New Password</label>
		<input type="password" name="newpassword" placeholder="New Password">
		<span class="description">
			{{#explanation fail.newpassword}}
				Please enter a valid password.
			{{/explanation}}
			Passwords must be at least 8 characters in length.
		</span>
	</div>
	
	<div class="field {{check "class" fail.confirmpassword}}">
		<label>Confirm New Password</label>
		<input type="password" name="confirmpassword" placeholder="Confirm Password">
		<span class="description">
			{{#explanation fail.confirmpassword}}
				Passwords do not match.
			{{/explanation}}
			Retype your new password to confirm.
		</span>
	</div>
	
	<input type="submit" value="Change Password &#187;">
</form>
